#### sklearn.model_selection.KFold 
- class sklearn.model_selection.KFold(n_splits=5, *, shuffle=False, random_state=None)

In [59]:
from sklearn.model_selection import KFold
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
import numpy as np

In [60]:
from sklearn.datasets import load_iris

In [61]:
iris = load_iris()

In [62]:
iris = load_iris()
features = iris.data 
label = iris.target 
dt_clf = DecisionTreeClassifier(random_state=156)

In [63]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(features, label, test_size=0.2, random_state=11)

In [64]:
kfold = KFold()
for i, j in kfold.split(X_train):
    # print(f'train set : {i}')
    # print(f'validation set : {j}')
    # print('\n')
    train_X, test_X = X_train[i], X_train[j]
    train_y , test_y = X_train[i], y_train[j]

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(features, label, test_size=0.2, random_state=11)

kfold = KFold()
cv_accuracy = []
for i , j in kfold.split(X_train, y_train):
    # print(f'train set : {i}')
    # print(f'validation set : {j}')
    # print('\n')
    train_X , test_X = X_train[i], X_train[j]
    train_y , test_y = y_train[i], y_train[j]
    dt_clf.fit(train_X, train_y)
    pred = dt_clf.predict(test_X)
    accuracy = np.round(accuracy_score(test_y,pred), 4)
    cv_accuracy.append(accuracy)
    #print(accuracy)
print(cv_accuracy)
print(np.mean(cv_accuracy))

[0.875, 0.9583, 1.0, 0.9167, 0.9583]
0.94166

In [66]:
from sklearn.model_selection import StratifiedKFold

sfk = StratifiedKFold(n_splits=3)
cv_accuracy = []
n_iter = 0
for train_index, test_index  in sfk.split(features , label):
#     print(f'fsdfsdf{features[train_index]}')

    n_iter +=1
    X_train , X_test = features[train_index] , features[test_index]
    y_train , y_test = label[train_index] , label[test_index]
    
    dt_clf.fit(X_train, y_train)
    pred = dt_clf.predict(X_test)
    accuracy = np.round(accuracy_score(y_test,pred), 4)
    print(f'\n{n_iter}번째 정확도 {accuracy}  , 학습데이터 크기 {X_train.shape[0]}, 검증데이터 크기 {X_test.shape[0]}')
    print(f'\n {n_iter}번째 검증데이터 인덱스 {test_index} ')
    cv_accuracy.append(accuracy)
    
#     print(accuracy)
# print(cv_accuracy)
np.mean(cv_accuracy)

1번째 정확도 0.98  , 학습데이터 크기 100, 검증데이터 크기 50

 1번째 검증데이터 인덱스 [  0   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  50
  51  52  53  54  55  56  57  58  59  60  61  62  63  64  65  66 100 101
 102 103 104 105 106 107 108 109 110 111 112 113 114 115]

2번째 정확도 0.94  , 학습데이터 크기 100, 검증데이터 크기 50

 2번째 검증데이터 인덱스 [ 17  18  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  67
  68  69  70  71  72  73  74  75  76  77  78  79  80  81  82 116 117 118
 119 120 121 122 123 124 125 126 127 128 129 130 131 132]

3번째 정확도 0.98  , 학습데이터 크기 100, 검증데이터 크기 50

 3번째 검증데이터 인덱스 [ 34  35  36  37  38  39  40  41  42  43  44  45  46  47  48  49  83  84
  85  86  87  88  89  90  91  92  93  94  95  96  97  98  99 133 134 135
 136 137 138 139 140 141 142 143 144 145 146 147 148 149]

0.9666666666666667

#### sklearn.model_selection.cross_val_score
- sklearn.model_selection.cross_val_score(estimator, X, y=None, *, groups=None, scoring=None, cv=None, n_jobs=None, verbose=0, fit_params=None, pre_dispatch='2*n_jobs', error_score=nan)

# estimator : 알고리즘
# X : feature
# y : label
# cv : cross_validation (몇 번 반복할 것인가)  --> cv = 5 : kfold 5번 하겠다.

In [70]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import cross_val_score, cross_validate
from sklearn.datasets import load_iris

iris_data = load_iris()
dt_clf = DecisionTreeClassifier(random_state=156)

features = iris_data.data
label = iris_data.target

# 성능 지표는 정확도 (accuracy), 교차 검증 세트는 3개

scores = cross_val_score(dt_clf, features, label, scoring='accuracy', cv = 4)
print('교차 검증별 정확도: ', np.round(scores,4))
print('평균 검증 정확도: ',np.round(np.mean(scores),4))

교차 검증별 정확도:  [0.9737 0.9474 0.9459 0.973 ]
평균 검증 정확도:  0.96

#### sklearn.model_selection.GridSearchCV

- class sklearn.model_selection.GridSearchCV(estimator, param_grid, *, scoring=None, n_jobs=None, refit=True, cv=None, verbose=0, pre_dispatch='2*n_jobs', error_score=nan, return_train_score=False)

# parameter : 변수
# refit : 최적의 변수를 찾아서 다시 적용하기

In [105]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import GridSearchCV
from sklearn.datasets import load_iris

# 데이터를 로딩하고 학습데이터와 테스트 데이터 분리

iris = load_iris()
X_train, X_test, y_train, y_test = train_test_split(iris_data.data, iris_data.target, test_size=0.2, random_state=121)
dtree = DecisionTreeClassifier()

## parameter들을 dictionary형태로 설정
parameters = {'max_depth' : [1,2,3], 'min_samples_split' : [2,3]}

import pandas as pd

grid_dtree = GridSearchCV(dtree, param_grid=parameters, cv=3, refit=True)

# 붓꽃 Train 데이터로 param_grid의 하이퍼 파라미터들을 순차적으로 학습/평가
grid_dtree.fit(X_train, y_train)

# # GridSearchCV 결과 추출하여 DataFrame으로 변환
scores_df = pd.DataFrame(grid_dtree.cv_results_)
scores_df[['params', 'mean_test_score', 'rank_test_score',\
    'split0_test_score', 'split1_test_score', 'split2_test_score']]

,params,mean_test_score,rank_test_score,split0_test_score,split1_test_score,split2_test_score
0,"{'max_depth': 1, 'min_samples_split': 2}",0.700000,5,0.700,0.7,0.70
1,"{'max_depth': 1, 'min_samples_split': 3}",0.700000,5,0.700,0.7,0.70
2,"{'max_depth': 2, 'min_samples_split': 2}",0.958333,3,0.925,1.0,0.95
3,"{'max_depth': 2, 'min_samples_split': 3}",0.958333,3,0.925,1.0,0.95
4,"{'max_depth': 3, 'min_samples_split': 2}",0.975000,1,0.975,1.0,0.95
5,"{'max_depth': 3, 'min_samples_split': 3}",0.975000,1,0.975,1.0,0.95

In [84]:
grid_dtree.best_params_

{'max_depth': 3, 'min_samples_split': 2}

In [86]:
estimator = grid_dtree.best_estimator_

pred = estimator.predict(X_test)
print('테스트 데이터 세트 정확도 : {0:.4f}' .format(accuracy_score(y_test,pred)))

테스트 데이터 세트 정확도 : 0.9667

In [87]:
grid_dtree.best_estimator_

DecisionTreeClassifier(max_depth=3)

In [88]:
# GridSearchCV의 refit으로 이미 학습이 된 estimator 반환
estimator = grid_dtree.best_estimator_
# GridSearchCV의 best_estimator_는 이미 최적 하이퍼 파라미터로 학습이 됨
pred = estimator.predict(X_test)
print('테스트 데이터 세트 정확도 : {0:.4f}'.format(accuracy_score(y_test, pred)))

테스트 데이터 세트 정확도 : 0.9667

### sklearn.datasets.make_classification
* sklearn.datasets.make_classification(n_samples=100, n_features=20, *, n_informative=2, n_redundant=2, n_repeated=0, n_classes=2, n_clusters_per_class=2, weights=None, flip_y=0.01, class_sep=1.0, hypercube=True, shift=0.0, scale=1.0, shuffle=True, random_state=None)

In [ ]:
from sklearn.datasets import make_classification

X,y = make_classification(n_samples=300, n_features=2,
                          n_classes = 3,n_redundant=0,
                          n_informative=2, n_clusters_per_class=1,
                         random_state=42)
print(len(X))
print(X)
print(y)

In [120]:
#Create classification dataset
from sklearn.datasets import make_classification
X, Y = make_classification(n_samples=10000, n_informative=10,n_redundant=0, n_classes=3,
                               n_features=10,
                               random_state=0)#split into training and testing set
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3, random_state=0)

dtree = DecisionTreeClassifier()
import pandas as pd
parameters = {'max_depth' : [1,2,3], 'min_samples_split' : [2,3]}


grid_dtree = GridSearchCV(dtree, cv=3,param_grid=parameters, refit=True)

# 붓꽃 Train 데이터로 param_grid의 하이퍼 파라미터들을 순차적으로 학습/평가
grid_dtree.fit(X_train, Y_train)

# # GridSearchCV 결과 추출하여 DataFrame으로 변환
scores_df = pd.DataFrame(grid_dtree.cv_results_)

scores_df
scores_df[['params', 'mean_test_score', 'rank_test_score',\
    'split0_test_score', 'split1_test_score', 'split2_test_score']]

,params,mean_test_score,rank_test_score,split0_test_score,split1_test_score,split2_test_score
0,"{'max_depth': 1, 'min_samples_split': 2}",0.458145,5,0.444730,0.461209,0.468495
1,"{'max_depth': 1, 'min_samples_split': 3}",0.458145,5,0.444730,0.461209,0.468495
2,"{'max_depth': 2, 'min_samples_split': 2}",0.583003,3,0.564696,0.586369,0.597943
3,"{'max_depth': 2, 'min_samples_split': 3}",0.583003,3,0.564696,0.586369,0.597943
4,"{'max_depth': 3, 'min_samples_split': 2}",0.625141,1,0.635390,0.637377,0.602658
5,"{'max_depth': 3, 'min_samples_split': 3}",0.625141,1,0.635390,0.637377,0.602658

In [113]:
estimator = grid_dtree.best_estimator_

pred = estimator.predict(X_test)
print('테스트 데이터 세트 정확도 : {0:.4f}' .format(accuracy_score(Y_test,pred)))

테스트 데이터 세트 정확도 : 0.6387

In [115]:
grid_dtree.predict(X_test)

array([0, 0, 2, ..., 2, 0, 1])

In [117]:
from sklearn.metrics import accuracy_score
accuracy_score(Y_test,pred)

0.6386666666666667

#### breast_cancer 데이터 로드

In [122]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import GridSearchCV
from sklearn.datasets import load_breast_cancer

# 데이터를 로딩하고 학습데이터와 테스트 데이터 분리

breast = load_breast_cancer()
X_train, X_test, y_train, y_test = train_test_split(breast.data, breast.target, test_size=0.2, random_state=121)
dtree = DecisionTreeClassifier()

## parameter들을 dictionary형태로 설정
parameters = {'max_depth' : [1,2,3], 'min_samples_split' : [2,3]}

import pandas as pd

grid_dtree = GridSearchCV(dtree, param_grid=parameters, cv=3, refit=True)

# 붓꽃 Train 데이터로 param_grid의 하이퍼 파라미터들을 순차적으로 학습/평가
grid_dtree.fit(X_train, y_train)

# # GridSearchCV 결과 추출하여 DataFrame으로 변환
scores_df = pd.DataFrame(grid_dtree.cv_results_)
scores_df[['params', 'mean_test_score', 'rank_test_score',\
    'split0_test_score', 'split1_test_score', 'split2_test_score']]

,params,mean_test_score,rank_test_score,split0_test_score,split1_test_score,split2_test_score
0,"{'max_depth': 1, 'min_samples_split': 2}",0.898934,5,0.861842,0.921053,0.913907
1,"{'max_depth': 1, 'min_samples_split': 3}",0.898934,5,0.861842,0.921053,0.913907
2,"{'max_depth': 2, 'min_samples_split': 2}",0.923129,2,0.901316,0.921053,0.947020
3,"{'max_depth': 2, 'min_samples_split': 3}",0.923129,2,0.901316,0.921053,0.947020
4,"{'max_depth': 3, 'min_samples_split': 2}",0.925322,1,0.901316,0.927632,0.947020
5,"{'max_depth': 3, 'min_samples_split': 3}",0.920907,4,0.901316,0.927632,0.933775

In [123]:
breast.keys()

dict_keys(['data', 'target', 'frame', 'target_names', 'DESCR', 'feature_names', 'filename', 'data_module'])

#### Diabetes 데이터 로드

In [127]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import GridSearchCV
from sklearn.datasets import load_diabetes

dia = load_diabetes()
dia.feature_names

['age', 'sex', 'bmi', 'bp', 's1', 's2', 's3', 's4', 's5', 's6']

In [128]:
import pandas as pd
features = dia.data
label = dia.target
dia_df = pd.DataFrame(features, columns=dia.feature_names)
dia_df.head()

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019907,-0.017646
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068332,-0.092204
2,0.085299,0.050680,0.044451,-0.005670,-0.045599,-0.034194,-0.032356,-0.002592,0.002861,-0.025930
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022688,-0.009362
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031988,-0.046641

In [130]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

import matplotlib.pyplot as plt
import seaborn as sns

In [131]:
dia = pd.read_csv('../머신러닝/datasets/diabetes (2).csv')
dia

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [132]:
features = dia.drop('Outcome',axis=1)
features
label = dia['Outcome']
label
features

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6,148,72,35,0,33.6,0.627,50
1,1,85,66,29,0,26.6,0.351,31
2,8,183,64,0,0,23.3,0.672,32
3,1,89,66,23,94,28.1,0.167,21
4,0,137,40,35,168,43.1,2.288,33
...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63
764,2,122,70,27,0,36.8,0.340,27
765,5,121,72,23,112,26.2,0.245,30
766,1,126,60,0,0,30.1,0.349,47
767,1,93,70,31,0,30.4,0.315,23

In [133]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import GridSearchCV

# 데이터를 로딩하고 학습데이터와 테스트 데이터 분리


X_train, X_test, y_train, y_test = train_test_split(features, label, test_size=0.2, random_state=121)
dtree = DecisionTreeClassifier()

## parameter들을 dictionary형태로 설정
parameters = {'max_depth' : [1,2,3], 'min_samples_split' : [2,3]}

import pandas as pd

grid_dtree = GridSearchCV(dtree, param_grid=parameters, cv=3, refit=True)

# 붓꽃 Train 데이터로 param_grid의 하이퍼 파라미터들을 순차적으로 학습/평가
grid_dtree.fit(X_train, y_train)

# # GridSearchCV 결과 추출하여 DataFrame으로 변환
scores_df = pd.DataFrame(grid_dtree.cv_results_)
scores_df[['params', 'mean_test_score', 'rank_test_score',\
    'split0_test_score', 'split1_test_score', 'split2_test_score']]

,params,mean_test_score,rank_test_score,split0_test_score,split1_test_score,split2_test_score
0,"{'max_depth': 1, 'min_samples_split': 2}",0.711701,3,0.731707,0.707317,0.696078
1,"{'max_depth': 1, 'min_samples_split': 3}",0.711701,3,0.731707,0.707317,0.696078
2,"{'max_depth': 2, 'min_samples_split': 2}",0.723139,1,0.731707,0.707317,0.730392
3,"{'max_depth': 2, 'min_samples_split': 3}",0.723139,1,0.731707,0.707317,0.730392
4,"{'max_depth': 3, 'min_samples_split': 2}",0.695441,5,0.707317,0.682927,0.696078
5,"{'max_depth': 3, 'min_samples_split': 3}",0.695441,5,0.707317,0.682927,0.696078

In [143]:
import numpy as np
test = X_test.iloc[0,:]
np.array(test)

y_test

601    0
224    0
766    1
17     1
369    1
      ..
479    0
283    1
554    0
688    0
81     0
Name: Outcome, Length: 154, dtype: int64

In [158]:
grid_dtree.predict( np.array(list(test)).reshape(1,-3))

c:\Users\hanky\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([0], dtype=int64)

In [159]:
import numpy as np
test = X_test.iloc[0, :]
np.array(list(test)).reshape(-1, 1)

array([[ 6.  ],
       [96.  ],
       [ 0.  ],
       [ 0.  ],
       [ 0.  ],
       [23.7 ],
       [ 0.19],
       [28.  ]])